/target/
/.classpath
/.project
/.settings
/dependency-reduced-pom.xml
logs/
src/main/resources/com/intermancer/predictor/organism-store/
src/test/resources/com/intermancer/predictor/test/data/organisms/
